@model RoadMaintainSys.Entities.User

@{
    ViewData["Title"] = "用户信息";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@section UserName{
    欢迎您:@ViewBag.UserName
}
<h1>用户信息</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            登陆账号:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            当前用户名:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            创建时间:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
    </dl>
</div>
<div>
    
    <a class="operation" asp-action="EditUser">更改个人信息</a>
    &emsp;
    <a class="operation" asp-action="Index">返回首页</a>
</div>
